.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}

.component__place {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -10px;
}

.component__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 10px;
    width: calc(100% / 3 - 20px);
}

.component__input {
    width: 100%;
    margin-right: 10px;
}

@media (max-width: 1000px) {
    .component__item {
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 750px) {
    .component__item {
        width: calc(100% - 20px);
    }
}