.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.component__place {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.component__item {
    margin: 10px;
    width: calc(100% / 2 - 20px);
}

.component__input {
    width: 100%;
}

.component__add {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .component__item {
        width: calc(100% - 20px);
    }
}