
.progress {
    height: 10px;
    background-color: #efefef;
    border: #c1c1c1;
}

.progress__bar {
    background-color: #0075ff;
    border-radius: 10px;
    height: 100%;
}

.progress__bar_type_prep-init{
background-color: #0075ff;
}

.progress__bar_type_prep-search{

}

.progress__bar_type_prep-equal{

}

.progress__bar_type_prep-notEqual{

}

.progress__bar_type_work-analysis{
background-color: #0075ff;
}

.progress__bar_type_work-warning{

}

.progress__bar_type_work-success{

}
