.statistics-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px 20px;
}

.statistics-grid__title {

}

.statistics-grid__value {
    font-weight: bold;
    text-align: right;
}

.statistics-grid__row {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.statistics-grid__row + .statistics-grid__value{
    border-bottom: 1px solid #ddd;
}
