{% extends 'Site/base.html' %}

{% load static %}
{% block title %}
    Настройки
{% endblock %}

{% block nav-config %}
    active
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li class="active">Настройки</li>
    </ol>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Обновление списка пользователей ВК</div>
                <div class="panel-body">
                    <dl>
                        <dt>Дата последнего обновления:</dt>
                        <dd id="dateAllUsersVK"></dd>
                    </dl>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-primary" id="updateAllUsersVK">
                    <span class="btn-label">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </span>
                        Обновить
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form action="#" id="tokenForm" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">Токен администратора</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <textarea id="tokenInput" name="tokenInput" class="form-control form-textarea"></textarea>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button type="submit" class="btn btn-success">
                            <span class="btn-label">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </span>
                            Сохранить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'Site/dist/config.bundle.js' %}"></script>
{% endblock %}