{% extends 'Site/base.html' %}

{% load static %}
{% block title %}
    Настройки
{% endblock %}

{% block nav-config %}
    active
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li class="active">Настройки</li>
    </ol>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Обновление списка пользователей ВК</div>
                <div class="panel-body">
                    <dl>
                        <dt>Дата последнего обновления:</dt>
                        <dd id="dateAllUsersVK"></dd>
                    </dl>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-primary" id="updateAllUsersVK">
                    <span class="btn-label">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </span>
                        Обновить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'Site/dist/config.bundle.js' %}"></script>
{% endblock %}