{% extends 'Site/base.html' %}

{% load static %}
{% block title %}
    Данные ЛС
{% endblock %}
{% block nav-control %}
    active
{% endblock %}


{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li class="active">Данные ЛС</li>
    </ol>

    <div class="form-group row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" id="controlBtnAdd">
                                        <span class="btn-label">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </span>
                    Новый
                </button>
            </div>
        </div>
    </div>


    <div id="controlTable"></div>

    <div class="modal fade" id="controlModal" tabindex="-1" role="dialog" aria-labelledby="controlModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="controlModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" id="controlForm" action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">ФИО</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="lastName" class="control-label"
                                                                   title="Это поле обязательно для заполнения">Фамилия</label>
                                                            <input type="text" class="form-control" id="lastName"
                                                                   name="lastName" placeholder="Фамилия">
                                                            <div class="form-control form-transliteration"
                                                                 id="lastNameT"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="firstName" class="control-label"
                                                                   title="Это поле обязательно для заполнения">Имя</label>
                                                            <input type="text" class="form-control" id="firstName"
                                                                   name="firstName" placeholder="Имя">
                                                            <div class="form-control form-transliteration"
                                                                 id="firstNameT"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="patronymic"
                                                                   class="control-label">Отчество</label>
                                                            <input type="text" class="form-control" id="patronymic"
                                                                   name="patronymic" placeholder="Отчество">
                                                            <div class="form-control form-transliteration"
                                                                 id="patronymicT"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Фото</div>
                                            <div class="panel-body">
                                                <div id="photoList"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Дата и место рождения</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="birthDate" class="control-label"
                                                                   title="Это поле обязательно для заполнения">Дата
                                                                рождения</label>
                                                            <input type="text" class="form-control" id="birthDate"
                                                                   name="birthDate" placeholder="Дата рождения">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label for="birthCountry" class="control-label">Страна</label>
                                                        <select class="form-control" id="birthCountry"
                                                                name="birthCountry">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="birthRegion" class="control-label">Регион</label>
                                                        <select class="form-control" id="birthRegion"
                                                                name="birthRegion">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="birthCity" class="control-label">Город</label>
                                                        <select class="form-control" id="birthCity" name="birthCity">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Место жительства</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <label for="liveCountry" class="control-label">Страна</label>
                                                        <select class="form-control" id="liveCountry"
                                                                name="liveCountry">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="liveRegion" class="control-label">Регион</label>
                                                        <select class="form-control" id="liveRegion" name="liveRegion">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="liveCity" class="control-label">Город</label>
                                                        <select class="form-control" id="liveCity" name="liveCity">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Контакты</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="phoneList" class="control-label">Номера
                                                            телефонов</label>
                                                        <div id="phoneList"></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="mailList" class="control-label">Адреса
                                                            эл.почты</label>
                                                        <div id="mailList"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Учебные заведения</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="schools" class="control-label">Школа</label>
                                                        <textarea id="schools" name="schools"
                                                                  class="form-control form-textarea"
                                                                  placeholder="Школа"></textarea>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="universities" class="control-label">ВУЗ</label>
                                                        <textarea id="universities" name="universities"
                                                                  class="form-control form-textarea"
                                                                  placeholder="ВУЗ"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Текущая деятельность</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="work" class="control-label">Место работы</label>
                                                        <textarea id="work" name="work"
                                                                  class="form-control form-textarea"
                                                                  placeholder="Место работы"></textarea>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="vch" class="control-label">Место военной
                                                            службы</label>
                                                        <select class="form-control" id="vch" name="vch">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>* - поля обязательные для заполнения</p>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success">
                <span class="btn-label">
                    <span class="glyphicon glyphicon-ok"></span>
                </span>
                                        Сохранить
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                            aria-hidden="true">
                <span class="btn-label">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
                                        Отмена
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="viewModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <img src="#" id="viewMainPhoto" class="img img-thumbnail"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="viewPhotoList"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="viewInfo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="viewSearch" type="button" class="btn btn-info">
                        <span class="btn-label">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        Поиск
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'Site/dist/control.bundle.js' %}"></script>
{% endblock %}